/* Reset */
body, html { overflow: hidden; }
* { padding: 0px; margin: 0px; user-select: none; cursor: crosshair; font-family: 'Share Tech Mono';}

/* Loading screen */
.screen {
	display: block;
	background-color: rgb(0,0,0);
	color: rgb(196,196,255);
	width: 100vw;
	height: 100vh;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Custom */
#backdrop, #backscroll, #viewport {
	position:absolute;
	top:0;
	left:0;
}
#backdrop {
	z-index: 1;
}
#backscroll {
	z-index: 2;
	opacity: 0.2;
}
#viewport {
	z-index: 3;
}
.row {
	width: 800px;
	height: 400px;
}
.full {
	width: 100%;
}
.column {
	width: 369px;
	height: 400px;
	text-align: center;
}
.right.column {
	border-left: rgb(64,64,128) 1px solid;
	padding-left: 30px;
}
.left.column {
	padding-right: 30px;
}
.texture { display: none; }
hr {
	margin-top: 30px;
	margin-bottom: 30px;
	border: rgb(64,64,128) 1px solid;
}
#menu {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 300px;
	height: 100vh;
	background-color: rgb(0,0,0);
	border-left: rgb(64,64,128) 1px solid;
	color: rgb(196,196,255);
	z-index: 4;
}
#hud {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 300px;
	height: 60px;
	padding: 5px;
	z-index: 4;
}
.resource {
	display: inline-block;
	padding: 2px 4px 2px 4px;
	border: 1px solid;
	border-radius: 3px;
	margin-left: 4px;
}
.resource-value {
	color: #EEE;
}
.resource-electricity {
	color: rgba(220,255,220,0.9);
	border-color: rgba(220,255,220,0.7);
	background-color: rgba(220,255,220,0.2);
}
.resource-matter {
	color: rgba(255,255,196,0.9);
	border-color: rgba(255,255,196,0.7);	
	background-color: rgba(255,255,196,0.2);
}
.powerup {
	display: inline-block;
	padding: 2px 4px 2px 4px;
	border: 1px solid;
	margin-left:4px;
	border-radius: 3px;
	color: rgba(255,255,196,0.9);
	border-color: rgba(255,255,196,0.7);	
	background-color: rgba(255,255,196,0.2);
}
.left {
	float: left;
}
.right {
	float: right;
}
#minimap {
	padding: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-top: rgba(128,128,255,0.4) 1px solid;
	border-bottom: 0px none;
	z-index: 5;
}
.section {
	padding:20px;
	border-bottom: rgba(128,128,255,0.4) 1px solid;
}
.noborder {
	border-bottom: 0px none;
}
#logo {
	font-size: 2rem;
}
.title {
	display: inline-block;
	width: 100px;
}
.status {
	display: inline-block;
	width: 160px;
}
.good {
	color: rgba(196,255,196,0.7);
}
.bad {
	color: rgba(255,196,196,0.7);
}
.section table {
	width: 100%;
}
.section table thead {
	color: rgba(220,220,255,0.7);
}
.hidden {
	display: none;
}

.disabled {
	opacity: 0.3;
}
.engaged {
	background-color: rgba(255,196,196,0.8);
}
::-webkit-input-placeholder {
   color: rgba(196,196,255,0.4);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(196,196,255,0.4);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(196,196,255,0.4);  
}

:-ms-input-placeholder {  
   color: rgba(196,196,255,0.4);  
}
.column input, .column button {
	text-align: center;
	width: 100%;
	padding: 10px;
	font-size: 1.5rem;
	box-sizing: border-box;
	margin-bottom: 30px;
	border-radius: 10px;
	color: rgb(128,128,255);
	border: rgb(96,96,128) 1px solid;
	background-color: rgba(196,196,255,0.12);	
}
.column button {
	color: rgb(128,128,255);
	background-color: rgba(64,64,128,0.3);
}